extends ../../layout

block content

    h1=title

    a(href="/ledger/create") Create new ledger

    ul

        if(ledgerLists.length>0)

            for ledger in ledgerLists

                li
                    a(href='') #{ledger.name}

        else

            li There is no ledger in this account. Why don't you create one.